@using Shared.Models
@model IEnumerable<ConferenceModel>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Location</td>
                <td>Start of event</td>
                <td>Attendees</td>
                <td>Actions</td>
            </tr>
            @Html.DisplayForModel()
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
</div>