@using Shared.Models
@model IEnumerable<ProposalModel>
<div class="row">
    <div class="col-md-10 offset-md-2">
        <table class="table">
            <tr>
                <td>Title</td>
                <td>Speaker</td>
                <td>Approoved</td>
                <td>Actions</td>
            </tr>
            @Html.DisplayForModel()
        </table>
        <a asp-action="Add" asp-route-conferenceId="@ViewBag.ConferenceId">Add</a>
    </div>
</div>